<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/heloisemaz" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://medium.com/@heloisemaz_55644" target="_blank"><i class="fab fa-medium"></i></a>
    <a href="https://www.linkedin.com/in/h%C3%A9lo%C3%AFse-mazingarbe/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Le Wagon-inspired components
  </div>
</div>