<div class="navbar-event">
  <!-- Logo -->
  <a href="/" class="navbar-event-brand">
    <img src="http://pngimg.com/uploads/confetti/confetti_PNG87081.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-event-right hidden-xs hidden-sm">

  <a href="/" class="navbar-event-item navbar-event-link">Home</a>
  <a href="https://github.com/heloisemaz/eventeur-app" class="navbar-event-item navbar-event-link">About</a>
  </div>
</div>
  


